<div id="hero-container">
    <div id="hero-left-side">

        <h1 id="hero-title">Bonjour 👋, <br> je suis <span>Younès Bouchouk</span></h1> 
        <p id="hero-description"><strong>Développeur web</strong> de 23 ans, j’aime créer des applications modernes et performantes. <br> Toujours curieux d’apprendre, je suis ouvert à de nouvelles collaborations.</p>
    
        <div id="hero-buttons-list">
            <button class="button">Mes projets</button>
            <button class="button">Me contacter</button>
        </div>
    </div>
    <div id="hero-right-side">
        <img id="hero-logo" src="/icons/logo_bataillon.png" alt="">
    </div>
</div>